In [6]:
import pandas as pd
books=pd.read_csv('books.csv')
type(books)

pandas.core.frame.DataFrame

In [7]:
len(books)

10000

In [8]:
books.shape

(10000, 23)

In [9]:
books.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [10]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         10000 non-null  int64
 1   book_id                    10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9415 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  9979 non-null   float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              8916 non-null   object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [11]:
books = books[['title','authors','average_rating']]

In [12]:
books.head()

,title,authors,average_rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34
1,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",4.44
2,"Twilight (Twilight, #1)",Stephenie Meyer,3.57
3,To Kill a Mockingbird,Harper Lee,4.25
4,The Great Gatsby,F. Scott Fitzgerald,3.89

In [13]:
books.tail()

,title,authors,average_rating
9995,"Bayou Moon (The Edge, #2)",Ilona Andrews,4.09
9996,"Means of Ascent (The Years of Lyndon Johnson, #2)",Robert A. Caro,4.25
9997,The Mauritius Command,Patrick O'Brian,4.35
9998,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,3.65
9999,The First World War,John Keegan,4.00

In [14]:
books.authors.value_counts()

Stephen King                                                          60
Nora Roberts                                                          59
Dean Koontz                                                           47
Terry Pratchett                                                       42
Agatha Christie                                                       39
                                                                      ..
Malvina G. Vogel, Arthur Conan Doyle                                   1
Dan   Harris                                                           1
Gene Luen Yang, Michael Dante DiMartino, Bryan Konietzko, Gurihiru     1
Patricia Briggs, Eileen Wilks, Karen Chance, Sunny                     1
Jalaluddin Rumi, Coleman Barks                                         1
Name: authors, Length: 4664, dtype: int64

In [15]:
books[books.authors=='Stephen King'].head()

                                   title       authors  average_rating
71          The Shining (The Shining #1)  Stephen King            4.17
175                                   It  Stephen King            4.18
231  The Gunslinger (The Dark Tower, #1)  Stephen King            3.99
236                               Carrie  Stephen King            3.93
242                               Misery  Stephen King            4.11

In [16]:
most_popular_books = books.average_rating.nlargest()

In [17]:
type(most_popular_books)

pandas.core.series.Series

In [18]:
most_popular_books.values

array([4.82, 4.77, 4.77, 4.76, 4.76])

In [19]:
most_popular_books.axes

[Int64Index([3627, 861, 3274, 7946, 8853], dtype='int64')]

In [20]:
books.index

RangeIndex(start=0, stop=10000, step=1)

In [21]:
for axis_value in most_popular_books.axes:
    print(books.iloc[axis_value].title)

3627                       The Complete Calvin and Hobbes
861        Words of Radiance (The Stormlight Archive, #2)
3274    Harry Potter Boxed Set, Books 1-5 (Harry Potte...
7946                                      ESV Study Bible
8853                             Mark of the Lion Trilogy
Name: title, dtype: object

In [22]:
books.nlargest(5,'average_rating')

,title,authors,average_rating
3627,The Complete Calvin and Hobbes,Bill Watterson,4.82
861,"Words of Radiance (The Stormlight Archive, #2)",Brandon Sanderson,4.77
3274,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...","J.K. Rowling, Mary GrandPré",4.77
7946,ESV Study Bible,"Anonymous, Lane T. Dennis, Wayne A. Grudem",4.76
8853,Mark of the Lion Trilogy,Francine Rivers,4.76

In [23]:
booksCollection = books[['title','authors','average_rating']]

In [24]:
booksCollection = booksCollection.set_index('title')

In [25]:
booksCollection.index

Index(['The Hunger Games (The Hunger Games, #1)',
       'Harry Potter and the Sorcerer's Stone (Harry Potter, #1)',
       'Twilight (Twilight, #1)', 'To Kill a Mockingbird', 'The Great Gatsby',
       'The Fault in Our Stars', 'The Hobbit', 'The Catcher in the Rye',
       'Angels & Demons  (Robert Langdon, #1)', 'Pride and Prejudice',
       ...
       'The Famished Road', 'The Red Knight (The Traitor Son Cycle, #1)',
       'The Time Traveller's Guide to Medieval England: A Handbook for Visitors to the Fourteenth Century',
       'The Everafter War (The Sisters Grimm, #7)', 'Billy Budd, Sailor',
       'Bayou Moon (The Edge, #2)',
       'Means of Ascent (The Years of Lyndon Johnson, #2)',
       'The Mauritius Command',
       'Cinderella Ate My Daughter: Dispatches from the Frontlines of the New Girlie-Girl Culture',
       'The First World War'],
      dtype='object', name='title', length=10000)

In [26]:
booksCollection.nlargest(5,'average_rating').axes

[Index(['The Complete Calvin and Hobbes',
        'Words of Radiance (The Stormlight Archive, #2)',
        'Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)',
        'ESV Study Bible', 'Mark of the Lion Trilogy'],
       dtype='object', name='title'),
 Index(['authors', 'average_rating'], dtype='object')]

In [27]:
booksCollection.loc['The Complete Calvin and Hobbes']

authors           Bill Watterson
average_rating              4.82
Name: The Complete Calvin and Hobbes, dtype: object