In [11]:
import pandas as pd
places=pd.read_csv("geoplaces2.csv")
payments=pd.read_csv("chefmozaccepts.csv")
parking=pd.read_csv("chefmozparking.csv")
cuisines=pd.read_csv('chefmozcuisine.csv')
ratings=pd.read_csv("rating_final.csv")
users=pd.read_csv("userprofile.csv")
user_payments=pd.read_csv("userpayment.csv")
user_cuisines=pd.read_csv("usercuisine.csv")
from statistics import mean

1. What are all of the supported payment methods for each place?

In [8]:
places_payments=places.merge(payments,how='inner',on='placeID')
places_payments[['name','Rpayment']]

                               name             Rpayment
0                   puesto de tacos                 cash
1        El Rinc�n de San Francisco                 cash
2        El Rinc�n de San Francisco                 VISA
3        El Rinc�n de San Francisco  MasterCard-Eurocard
4    little pizza Emilio Portes Gil                 cash
..                              ...                  ...
248                      Sushi Itto                 cash
249                      Sushi Itto                 VISA
250                      Sushi Itto  MasterCard-Eurocard
251                      Sushi Itto     American_Express
252                       Paniroles                 cash

[253 rows x 2 columns]

2. What are the parking statuses for each place?

In [9]:
places_parking=places.merge(parking,how='inner',on='placeID')
places_parking[['name','parking_lot']]

                               name parking_lot
0                   Kiku Cuernavaca        none
1                   puesto de tacos        none
2        El Rinc�n de San Francisco        none
3    little pizza Emilio Portes Gil        none
4                     carnitas_mata         yes
..                              ...         ...
125                         Chaires         yes
126                      Sushi Itto        none
127                       Paniroles        none
128     Restaurant Bar Coty y Pablo        none
129                sirloin stockade        none

[130 rows x 2 columns]

3. What are the cuisines for each place?

In [25]:
places_cuisines=places.merge(cuisines,how='inner',on='placeID')
places_cuisines[['name','Rcuisine']]

                               name   Rcuisine
0                   Kiku Cuernavaca   Japanese
1                   puesto de tacos    Mexican
2        El Rinc�n de San Francisco    Mexican
3    little pizza Emilio Portes Gil   Armenian
4                     carnitas_mata    Mexican
..                              ...        ...
107                         Chaires     Bakery
108                         Chaires  Cafeteria
109                      Sushi Itto   Japanese
110                       Paniroles    Italian
111     Restaurant Bar Coty y Pablo        Bar

[112 rows x 2 columns]

4. What is the average rating, average food rating, average service rating, minimum food rating, minimum service rating, and maximum service rating for the restaurants by cuisine?

In [30]:
places_cuisines_ratings=places_cuisines.merge(ratings,how='inner',on='placeID')
cuisine_dictionary={}
things=cuisines.Rcuisine.unique()
for cuisine in things:
    restaurants_to_average=places_cuisines_ratings[places_cuisines_ratings.Rcuisine==cuisine]
    list_to_add=[]
    if len(restaurants_to_average)>0:
        list_to_add.append(mean(restaurants_to_average.rating))
        list_to_add.append(mean(restaurants_to_average.food_rating))
        list_to_add.append(mean(restaurants_to_average.service_rating))
        list_to_add.append(min(restaurants_to_average.food_rating))
        list_to_add.append(min(restaurants_to_average.service_rating))
        list_to_add.append(max(restaurants_to_average.service_rating))
    cuisine_dictionary[cuisine]=list_to_add
print(cuisine_dictionary)

{'Spanish': [], 'Italian': [1.0384615384615385, 1.1923076923076923, 0.9615384615384616, 0, 0, 2], 'Latin_American': [], 'Mexican': [1.1890756302521008, 1.281512605042017, 1.0798319327731092, 0, 0, 2], 'Fast_Food': [1.164835164835165, 1.1868131868131868, 0.9560439560439561, 0, 0, 2], 'Burgers': [1.032258064516129, 1.1612903225806452, 0.8709677419354839, 0, 0, 2], 'Dessert-Ice_Cream': [], 'Hot_Dogs': [], 'Steaks': [], 'Asian': [], 'International': [1.5135135135135136, 1.5675675675675675, 1.4864864864864864, 0, 0, 2], 'Mongolian': [], 'Vegetarian': [], 'Brazilian': [], 'Cafe-Coffee_Shop': [1.5833333333333333, 1.3333333333333333, 1.4166666666666667, 0, 1, 2], 'Cafeteria': [1.2058823529411764, 1.1274509803921569, 1.0784313725490196, 0, 0, 2], 'Contemporary': [1.25, 1.15625, 1.15625, 0, 0, 2], 'Deli-Sandwiches': [], 'Diner': [], 'Japanese': [1.3448275862068966, 1.4482758620689655, 1.2758620689655173, 0, 0, 2], 'Sushi': [], 'Seafood': [1.2419354838709677, 1.1451612903225807, 1.1774193548387097, 0, 0, 2], 'Chinese': [1.2195121951219512, 1.1951219512195121, 1.048780487804878, 0, 0, 2], 'Bar': [1.2, 1.1357142857142857, 1.0857142857142856, 0, 0, 2], 'Bar_Pub_Brewery': [1.305084745762712, 1.1694915254237288, 1.2033898305084745, 0, 0, 2], 'Pizzeria': [1.1176470588235294, 1.1176470588235294, 1.0392156862745099, 0, 0, 2], 'Mediterranean': [1.75, 1.75, 1, 1, 0, 2], 'American': [1.1538461538461537, 1.1025641025641026, 1.1282051282051282, 0, 0, 2], 'Family': [1.5714285714285714, 1.5714285714285714, 1.5, 0, 0, 2], 'Caribbean': [], 'African': [], 'Breakfast-Brunch': [1, 0.7777777777777778, 0.8888888888888888, 0, 0, 2], 'Regional': [0.5, 1, 0.25, 0, 0, 1], 'Afghan': [], 'Bakery': [1.4, 1.4, 1.4, 1, 1, 2], 'Game': [1.4285714285714286, 1, 1, 0, 0, 2], 'Armenian': [1.25, 2, 1.25, 2, 1, 2], 'Vietnamese': [1.1666666666666667, 1.3333333333333333, 1.1666666666666667, 0, 0, 2], 'Korean': [], 'Thai': [], 'Barbecue': [], 'Polish': [], 'Dutch-Belgian': [], 'French': [], 'German': [], 'Southwestern': [], 'Persian': [], 'Ethiopian': [], 'Juice': [], 'Soup': [], 'Continental-European': [], 'Greek': [], 'Southern': [], 'Eastern_European': [], 'California': [], 'Bagels': [], 'Turkish': [], 'Organic-Healthy': [], 'Fine_Dining': []}

5. What are the payment methods preferred by social drinkers?

In [32]:
users_with_payments=users.merge(user_payments,how='inner',on='userID')
social_drinkers=users_with_payments[users_with_payments.drink_level=="social drinker"]
social_drinkers.Upayment.value_counts()

cash                   38
bank_debit_cards        8
VISA                    8
MasterCard-Eurocard     2
Name: Upayment, dtype: int64

6. What are the cuisines preferred by eco-friendly users?

In [35]:
users_with_cuisines=users.merge(user_cuisines,how='inner',on='userID')
eco_friendly_folks=users_with_cuisines[users_with_cuisines.interest=="eco-friendly"]
eco_friendly_folks.Rcuisine.value_counts()

Mexican             12
Contemporary         3
American             2
Cafe-Coffee_Shop     2
Burgers              1
Portuguese           1
Indian-Pakistani     1
Polynesian           1
Doughnuts            1
Eastern_European     1
Afghan               1
Diner                1
Pizzeria             1
Moroccan             1
Bar                  1
Australian           1
Sushi                1
Japanese             1
Family               1
Lebanese             1
Chinese              1
Latin_American       1
Regional             1
Polish               1
Cafeteria            1
Fusion               1
Hot_Dogs             1
Barbecue             1
Italian              1
Name: Rcuisine, dtype: int64

7. What payment methods are preferred by students?

In [36]:
students=users_with_payments[users_with_payments.activity=="student"]
students.Upayment.value_counts()

cash                   109
VISA                    12
bank_debit_cards        10
American_Express         1
MasterCard-Eurocard      1
Name: Upayment, dtype: int64

8. What cuisines are preferred by Catholic students?

In [43]:
students_cuisines=users_with_cuisines[users_with_cuisines.activity=="student"]
catholic_students=students_cuisines[students_cuisines.religion=="Catholic"]
catholic_students.Rcuisine.value_counts()

Mexican          62
American          8
Family            7
Cafeteria         7
Italian           7
                 ..
International     1
Basque            1
Brazilian         1
Greek             1
Tea_House         1
Name: Rcuisine, Length: 103, dtype: int64

9. What are some of the demographics of the users rating Mexican service ratings a 2?

In [52]:
users_PCR=users.merge(places_cuisines_ratings,how='inner',on='userID')
users_PCR_Mexican=users_PCR[users_PCR.Rcuisine=="Mexican"]
users_PCR_Mexican_GS=users_PCR_Mexican[users_PCR_Mexican.service_rating==2]
user_demographics=users_PCR_Mexican_GS[['smoker','marital_status','religion','weight','height']]
user_demographics.info
# user_demographics.smoker.value_counts()
# user_demographics.religion.value_counts()
# user_demographics.marital_status.value_counts()
# mean(user_demographics.weight)
# mean(user_demographics.height)

<bound method DataFrame.info of      smoker marital_status  religion  weight  height
1     false         single      none      69    1.77
9     false         single  Catholic      40    1.87
26    false         single  Catholic      60    1.69
27    false         single      none      44    1.53
34    false         single      none      44    1.53
...     ...            ...       ...     ...     ...
1021   true         single  Catholic      50    1.60
1026   true         single  Catholic      50    1.60
1032  false         single  Catholic      72    1.78
1034  false         single  Catholic      72    1.78
1035  false         single  Catholic      72    1.78

[81 rows x 5 columns]>